

#header {
	background-color: rgba(119, 148, 255, 0.8);
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	position: relative;
	top: 10px;
    box-shadow: 0 0 10px #9ecaed;
}

#menubar {
	left: 40%;
	margin-left: -160px;
	position: absolute;
    top: -10px;
}

ul {
	display: inline-block;
	margin: 2px;
}

li {
	border: 2px solid rgba(231, 242, 244, 0.9);
	border-radius: 5px;
	display: inline;
	background-color: rgba(9, 128, 232, 0.8);
	color: white;
	padding: 2px;
	font-size: 30px;
	font-family: Ubuntu;
}

h2 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
	color: white;
	font-size: 70px;
	font-family: Ubuntu;
    margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #8FFBFF;
}

li:hover {
	color: #8FFBFF;
}

#middle {
	background-color: rgba(56,86,232,0.4);
	padding: 10px;
	margin-top: 25px;
    box-shadow: 0 0 10px #9ecaed;
}

.normal {
    text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

#about {
	text-align: block;
	font-family: Ubuntu;
	font-size: 20px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	color: white;
    text-indent: 50px;
}

body {
	background-color: #6b92b9; 
	background-image: url('snow.png'), url('snow3.png'), url('snow2.png');
	
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

#footer {
	clear: both;
	bottom: -20px;
	background-color: rgba(7,120,232,0.4);
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
	height: 130px;
	padding-top: 20px;
	margin-top: 20px;
    box-shadow: 0 0 10px #9ecaed;

}

.button {
	border: 2px solid rgba(231, 242, 244, 0.7);
	background-color: rgba(9, 128, 232, 0.8);;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Ubuntu;
	font-size: 20px;
	border-radius: 5px;
}


/*Keyframes*/
@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {background-color:#b4cfe0;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}




